body {
    background-image: url('/~tjordan/background.jpg');
    font-family: Helvetica;
    letter-spacing: -1px;
    padding-top: 30px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.photo-row div .pictext {
    position: relative;
    top: -65px;
    right: 15px;
    color: #fff;
    font-size: 30px;
    float: right;
    background: rgb(150, 150, 150);
    background: rgba(150, 150, 150, 0.5);
    padding: 0 5px 0 5px;
}

.script {
    font-size: 30px;
    font-family: 'Nothing You Could Do', cursive;
    font-style: italic;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 72px;
}

.breaktext {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.alt {
    display: none;
}

.container {
    padding-bottom: 40px;
}

/* Story */

.story-text {
    padding: 25px;
}

.story-text h4 {
}

.story-images img {
    padding-top: 20px;
}

/* Directions */

.directions-map {
    margin-top: 25px;
}

.directions-text {
    padding: 25px;
}

/* Fun Stuff */

.fun-stuff-text {
    padding: 25px;
}

img.partial-main {
    width: 24.5%;
}

.hotel-description-text {
    padding-top: 15px;
}

/* Nav bar */

.shim {
    position: relative;
    z-index: 1;
}

.shim img {
    position: relative;
    z-index: 1;
}

.connector {
    position: absolute;
    margin: 10px 0 10px 0;
    background: green;
    height: 5px;
    width: 100%;
    right: 0px;
    top: 5px;
    z-index: 2;
}

.navbar {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #00af56;
    padding: 0 8px 0 8px;
}

.navbar a {
    color: white;
    z-index: 5;
    position: relative;
}

.button {
    position: relative;
    display: inline-block;
    background: rgba(150, 150, 150, 0.7);
    padding: 6px 10px 6px 10px;
    margin: 0px 3px 0px 3px;
    border-radius: 5px;
    z-index: 10;
}
